<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="LestLeaf" verbose="10">
	<listeners>
		<listener class-name="lib.listeners.TestngListener"></listener>
	</listeners>

	<parameter name="url" value="http://leaftaps.com/opentaps/control/main"></parameter>
	<parameter name="usename" value="DemoSalesManager"></parameter>
	<parameter name="password" value="crmsfa"></parameter>

	<test name="Lead">

		<classes>
		
		<class name="data.reader.WriteExcel" />
<!-- 
			<class name="tests.CreateLead" />			
			<class name="tests.FindandEditLead" />			
			<class name="tests.DuplicateLead" />
			<class name="tests.DeleteLead" /> -->
			
		</classes>
	</test> <!-- Lead -->

</suite> <!-- LestLeaf -->
